{% extends "layout.html" %}

{% block title %}
    <title>Idéias - Casa Criativa</title>
{% endblock title %}

{% set bodyId = "page-ideas" %}

    {%  block content %}
    <header>
        <a a href="/">
            <img src="logo.png" alt="Logo">
        </a>
  
        <nav>
            <li><a href="/">Início</a></li>
            <li><a href="#" class="button" onClick="onOff()">Nova Idéia</a></li>
        </nav>
    </header> 
    <section id="title">
        <p>em exibição</p>
        <h1>Idéias</h1>
    </section>
    <main>
        <section id="ideias">
         
            {% include "all_ideas.html" %}

        </section>
    </main>
    <footer>
        Com ♥️ <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
    </footer>
  {% endblock %}